<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<div class="container" style="text-align: center" id="container">
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header row">
                <h5 class="col-sm-10 modal-title" id="exampleModalLabel">출발지 설정</h5>
                <button type="button" class="col-sm-2 close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <input type="hidden" id="tID">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="meetingPlace">출발 장소</label>
                <div class="col-sm-8">
                    <select id="meetingPlace" class="form-control" style="font-size: 14px">
                        <option>우리 집</option>
                        <option>직접 지정</option>
                    </select>
                    <input type="text" class="form-control" id="writePlace" name="writePlace" style="padding-left: 20px" hidden>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary" id="save">저장하기</button>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>

    $('#writePlace').click(function (){
        new daum.Postcode({
            oncomplete: function (data) { //선택시 입력값 세팅
                document.getElementById("writePlace").value = data.address; // 주소 넣기
            }
        }).open();
    })

    $('#save').click(function (){
        let place;
        if($('#meetingPlace').val()=='우리 집'){
            place='우리 집';
        }else{
            place=$('#writePlace').val();
        }
        $.ajax({
            url: "/changeStartPlace",
            type: "POST",
            data: {place:place,tID:$('#tID').val()},
            success:function(data){
                console.log("저장완료")
                history.go(0);
            }
        })
    })
    findMeeting()

    function findMeeting() {
        $.ajax({
            url: "/findMeeting",
            type: "GET",
            success: function (data) {
                let container = document.getElementById('container');
                container.setAttribute('style', 'text-align: center')
                data.forEach(function (vo) {
                    let nameData =vo.tid
                    let div = document.createElement('div');
                    // let div2 = document.createElement('fieldset')
                    // div2.setAttribute('style', 'margin-top: 100px; border: 2px solid #e2e2e2; padding: 1.8rem 2rem 1.8rem;')
                    div.setAttribute('style', 'display:inline-block; height: 400px; margin-right: 20px; margin-top: 100px; border-radius:10px; width:500px; background-color: rgba( 211, 211, 211, 0.1 ); padding:30px;');
                    let teamName = document.createElement('h2')
                    // teamName.innerHTML = '<a href=/viewMeeting/{tID}>' + '[ ' + vo.teamName + ' ]' + '</a>';
                    teamName.innerHTML = '[ ' + vo.teamName + ' ]';
                    let editBtn = document.createElement('button')
                    editBtn.setAttribute('style', 'margin-top: 10px; margin-right: 5px; width:30%; background-color: #283C82; border: 1px solid #b1b1b1; color: #FFFFFF; border-radius: 0.3rem;')
                    editBtn.innerHTML = '수정하기';
                    let detailBtn = document.createElement('button')
                    detailBtn.setAttribute('style', 'margin-top: 10px; width:30%; background-color: #283C82; border: 1px solid #b1b1b1; color: #FFFFFF; border-radius: 0.3rem;')
                    detailBtn.innerHTML = '자세히';

                    editBtn.addEventListener('click', function () {
                        console.log('클릭')
                        location.href = "/meeting/" + vo.tid;
                    })

                    detailBtn.addEventListener('click', function () {
                        console.log('클릭')
                        location.href = "/viewMeeting/" + vo.tid;
                    })

                    let place = document.createElement('h3')
                    place.setAttribute('style', 'margin:20px 0 ')

                    place.innerHTML = vo.place + '에서 만나요😉';
                    let time = document.createElement('h3')

                    vo.time = vo.time.replace("T", " ").slice(0, 16)
                    var year = vo.time.slice(0, 4)
                    var month = vo.time.slice(5, 7)
                    var day = vo.time.slice(8, 10)
                    var hour = vo.time.slice(11, 13)
                    var min = vo.time.slice(14, 16)

                    var str = year + '년 ' + month + '월 ' + day + '일 ' + hour + '시 ' + min + '분';
                    time.innerHTML = str


                    let memDiv = document.createElement('div');
                    vo.members.forEach(function (mem, idx) {
                        let img = document.createElement('img');
                        console.log('img',img)
                        img.setAttribute('src', mem)
                        img.setAttribute('name', vo.memberID[idx])

                        img.setAttribute('style', 'border:1px solid #000000; border-radius:10px; width:50px;height:50px; margin:0 10px')

                        memDiv.appendChild(img);

                        img.addEventListener('click',function(){
                            $('#tID').val(nameData);
                        })
                    })

                    div.appendChild(teamName);
                    div.appendChild(memDiv)
                    div.appendChild(place);
                    div.appendChild(time);
                    div.appendChild(editBtn);
                    div.appendChild(detailBtn);

                    container.appendChild(div);
                });

                checkMe()

                // let plusbtn = document.createElement('div')
                // plusbtn.setAttribute('style', 'display:inline-block; margin-right: 20px; margin-top: 100px; border-radius:10px; width:500px; background-color: rgba( 211, 211, 211, 0.1 ); height:auto; padding:30px;');)
                let plusbtn2 = document.createElement('button');
                plusbtn2.setAttribute('onclick', 'location.href="/createMeeting"')
                plusbtn2.setAttribute('style', 'background-color: #283C82; width: 1025px; margin-top: 100px; color: #FFFFFF; font-size:20px; height:100px')
                plusbtn2.innerHTML = '+';
                container.appendChild(plusbtn2);



            }
        });
    }

    function checkMe() {
        let me = '[[${me}]]'

        $('img[name="'+me+'"]').attr('data-toggle','modal')
        $('img[name="'+me+'"]').attr('data-target','#exampleModal')

    }

    $('#meetingPlace').click(function(){
        console.log($('#meetingPlace').val())
        if($('#meetingPlace').val()=="직접 지정"){
            $('#writePlace').attr('hidden',false);
        }else{
            $('#writePlace').attr('hidden',true);
        }
    })
</script>
</body>
</html>