<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<h3 style="text-align: center; color: #386ad1; margin-top: 100px;">View Meeting</h3>
<div class="meetingContainer">
    <div class="col-7" style="margin: 0 auto; width:700px">
        <form id="EditForm" th:object="${team}">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="meetingName">모임 이름</label>
                <div class="col-sm-8">
                    <label class="col-sm-4 col-form-label" id="meetingName" style="text-align: center;"></label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">모임 멤버</label>
                <div class="col-sm-8" id="plususers">
                    <div class="btn-group" role="group">
                    </div>
                    <div class="mb-3 row" id="pu"></div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="meetingPlace">모임 장소</label>
                <div class="col-sm-8">
                    <label class="col-sm-4 col-form-label" id="meetingPlace" style="text-align: center;"></label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="meetingDate">모임 날짜</label>
                <div class="col-sm-8">
                    <label id="meetingDate"></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <div style="margin-top:20px;">
                        <button class="w-100 btn btn-outline-light" id="map1">비회원 중간지점 찾아보기</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
<div>
    <form>
<!--        <hr class="h-divider" style="margin-top: 40px; width: 60%; text-align: center;">-->
        <div style="margin: 0 auto; width:60%;">
            <div class="row" style="margin-top: 50px;">
                <h4>댓글 작성하기</h4>
            </div>
            <div class="row">
                <textarea id="comment" rows="2" placeholder="내용을 입력해주세요" style="width: 1000px; marign-top: 10px; margin-right: 10px; margin-bottom: 20px;"></textarea>
                <button type="button" class="btn btn-outline-dark col-1" id="btn"
                        style="border-color: #00000030; font-size: 15px; height: 50px;">
                    등록
                </button>
            </div>
        </div>
    </form>
</div>

<form style="margin: 0 auto; width:60%;">
    <div id="commentList"></div>
</form>
</div>
<div th:replace="fragments/food :: food"></div>
<div th:replace="fragments/foodMap :: foodMap"></div>
<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/locale/ko.min.js"></script>
<script>
    let tid='[[${tID}]]'
    $('document').ready(function(){

    $('#map1').click(function(evt){
        evt.preventDefault()
        console.log("tid",tid)
        $.ajax({
            url: "/locationMap",
            type: "post",
            data: {tid,tid},
            success:function (data){
                location.href="/map"
            }
        })

    })
    })


    let curURL = window.location.href;
    let urlArr = curURL.split("/");
    let me = '[[${user}]]'; // 나의 계정
    let members= [];
    let place = '[[${team.place}]]'
    let teamName = '[[${teamName}]]';
    let userList = '[[${userIDs}]]'
    let date = '[[${date}]]';

    userList = userList.replace('[','')
    userList = userList.replace(']','')
    let aa = userList.split(',')
    if(aa!=''){
        aa.forEach(function (mem){
            mem = mem.trim()
            plusMem(mem);
        })
    }

    document.getElementById("meetingName").innerHTML = teamName;
    document.getElementById("meetingPlace").innerHTML = place;
    $('#meetingDate').html(moment(date).format('YYYY년 MMMM Do, a hh:mm'));

    function plusMem (sendData){
        let div = document.querySelector('#pu');
        let group = document.createElement('div');

        let userdiv = document.createElement('div');
        userdiv.setAttribute('class','col-sm-10');
        userdiv.setAttribute('style','padding:0px 0px 0px 15px');
        let usertxt = document.createElement('input');
        usertxt.setAttribute('type', 'text');
        usertxt.setAttribute('size','25');
        usertxt.setAttribute('name', 'users');
        usertxt.setAttribute('id', 'users');
        usertxt.setAttribute('class', 'form-control');
        usertxt.setAttribute('value', sendData);
        usertxt.setAttribute('readonly',true);
        userdiv.append(usertxt);

        group.append(userdiv);

        div.append(group);
    }

    $(document).ready(function () {
        findComment();
        $("#btn").on('click', function () {
            saveComment();
        })
    });

    function saveComment() {
        if ($('#comment').val() == "") {
            $("#comment").attr('placeholder', '최소 한글자 이상을 입력하세요.');
        } else {
            $.ajax({
                url: "/saveComment",
                type: "GET",
                data: {
                    comment: $("#comment").val(),
                },
                success: function (data) {
                    let commentList = document.getElementById('commentList');

                    let div1 = document.createElement('form');
                    div1.setAttribute('class', 'row');
                    div1.setAttribute('id', data.cmID + 'div');
                    div1.setAttribute('style', 'margin-bottom: 40px;');
                    let div2 = document.createElement('div')
                    div2.setAttribute('class', 'col-auto');
                    div2.setAttribute('style', 'margin-top: 30px;, margin-right: 30px;, font-weight: bold');
                    let input = document.createElement('input');
                    input.setAttribute('class', 'form-control');
                    let name = document.createElement('div');
                    name.setAttribute('class', 'col-2')
                    name.setAttribute('style', 'margin-right: 30px;');
                    name.innerHTML = "🙂 " + data.writerName + "님의 댓글  ";
                    let content = document.createElement('input');
                    content.setAttribute('type', 'text');
                    content.setAttribute('value', data.commentContent);
                    content.setAttribute('id', data.cmID);
                    content.setAttribute('name', 'comments');
                    content.setAttribute('class', 'col-8');
                    content.setAttribute('style', 'border:1px solid #00000020')

                    div1.appendChild(name);
                    div1.appendChild(content);

                    // 수정버튼 생성
                    let updateComment = document.createElement('button');
                    updateComment.setAttribute('type', 'button');
                    updateComment.setAttribute('class', 'btn btn-outline-dark');
                    updateComment.setAttribute('id', 'btn');
                    updateComment.setAttribute('style', 'border-color: #00000030; float:right; font-size: 15px; height:30px; width:60px')

                    updateComment.innerHTML = "수정";
                    div1.appendChild(updateComment);

                    // 삭제버튼 생성
                    let delComment = document.createElement('button');
                    delComment.setAttribute('type', 'button');
                    delComment.setAttribute('class', 'btn btn-outline-dark');
                    delComment.setAttribute('style', 'border-color: #00000030; float:right; font-size: 15px; height:30px; width:60px')

                    delComment.innerHTML = "삭제";
                    div1.appendChild(delComment);
                    commentList.appendChild(div1);

                    $("#comment").val("");

                    // 댓글 삭제
                    delComment.addEventListener("click", () => {
                        $.ajax({
                            url: "/deleteComment",
                            type: "GET",
                            dataType: "json",
                            data: {
                                cmID: data.cmID,
                            },
                            success: function (res) {
                                if (res == true) {
                                    $('#' + data.cmID + 'div').remove()
                                }
                            }, error: function () {
                                alert("댓글 삭제 에러");
                                window.location.replace('/boardSearch');
                            }
                        });
                    });
                    // 댓글 수정
                    updateComment.addEventListener("click", () => {
                        let comments = document.getElementById(data.cmID)

                        $.ajax({
                            url: "/updateCommentSave", //댓글 수정하기 버튼 누르고 나오는 수정하기 버튼
                            type: "GET",
                            dataType: "json",
                            data: {
                                cmID: data.cmID,
                                commentContent: comments.value
                            },
                            success: function (data) {
                                if (data == true) {
                                }
                            }
                        });
                    })
                }
            });
        }
    }

    function findComment() {
        $.ajax({
            url: "/findComment",
            type: "GET",
            success: function (data) {
                let commentList = document.getElementById('commentList');
                data.forEach(function (comment) {
                    let div1 = document.createElement('form');
                    div1.setAttribute('class', 'row');
                    div1.setAttribute('id', comment.cmID + 'div');
                    div1.setAttribute('style', 'margin-bottom: 40px;');
                    let div2 = document.createElement('div')
                    div2.setAttribute('class', 'col-auto');
                    div2.setAttribute('style', 'margin-top: 30px;, margin-right: 30px;, font-weight: bold');
                    let input = document.createElement('input');
                    input.setAttribute('class', 'form-control');
                    let name = document.createElement('div');
                    name.setAttribute('class', 'col-2')
                    name.setAttribute('style', 'margin-right: 30px;');
                    name.innerHTML = "🙂 " + comment.writerName + "님의 댓글  ";
                    let content = document.createElement('input');
                    content.setAttribute('type', 'text');
                    content.setAttribute('value', comment.commentContent);
                    content.setAttribute('id', comment.cmID);
                    content.setAttribute('name', 'comments');
                    content.setAttribute('class', 'col-8');
                    content.setAttribute('style', 'border:1px solid #00000020')
                    div1.appendChild(name);
                    div1.appendChild(content);

                    // 수정버튼 생성
                    let updateComment = document.createElement('button');
                    updateComment.setAttribute('type', 'button');
                    updateComment.setAttribute('class', 'btn btn-outline-dark');
                    updateComment.setAttribute('style', 'border-color: #00000030; float:right; font-size: 15px; height:30px; width:60px')

                    updateComment.innerHTML = "수정";
                    div1.appendChild(updateComment);

                    // 삭제버튼 생성
                    let delComment = document.createElement('button');
                    delComment.setAttribute('type', 'button');
                    delComment.setAttribute('class', 'btn btn-outline-dark');
                    delComment.setAttribute('style', 'border-color: #00000030; float:right; font-size: 15px; height:30px; width:60px')

                    delComment.innerHTML = "삭제";
                    div1.appendChild(delComment);


                    // 작성자가 아니면 숨기기
                    $.ajax({
                        url: "/updateCommentCheck",
                        type: "GET",
                        data: {
                            cmID: comment.cmID
                        },
                        success: function (data) {
                            if (data == false) {
                                content.setAttribute('style', 'border:none')
                                updateComment.setAttribute('hidden', 'true')
                                content.setAttribute('readOnly', 'true')
                            }
                        }
                    });
                    // 로그인 유저 및 작성자가 아니면 숨기기
                    $.ajax({
                        url: "/deleteCommentCheck",
                        type: "GET",
                        data: {
                            cmID: comment.cmID
                        },
                        success: function (data) {
                            if (data == false) {
                                delComment.setAttribute('hidden', 'true')
                                content.setAttribute('readOnly', 'true')

                            }
                        }
                    });

                    // 댓글 삭제
                    delComment.addEventListener("click", () => {
                        $.ajax({
                            url: "/deleteComment",
                            type: "GET",
                            dataType: "json",
                            data: {
                                cmID: comment.cmID,
                            },
                            success: function (data) {
                                if (data == true) {
                                    $('#' + comment.cmID + 'div').remove()
                                }
                            }, error: function () {
                                alert("댓글 삭제 에러");
                                window.location.replace('/boardSearch');
                            }
                        });
                    });
                    // 댓글 수정
                    updateComment.addEventListener("click", () => {
                        let comments = document.getElementById(comment.cmID)

                        $.ajax({
                            url: "/updateCommentSave", //댓글 수정하기 버튼 누르고 나오는 수정하기 버튼
                            type: "GET",
                            dataType: "json",
                            data: {
                                cmID: comment.cmID,
                                commentContent: comments.value
                            },
                            success: function (data) {
                                if (data == true) {

                                }
                            }
                        });
                    })

                    commentList.appendChild(div1);
                });
            }
        });
    }
</script>
</body>
</html>